body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
  overflow: hidden;
}

.container {
  width: 430px;
  height: 932px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; 
}

header {
  background: #fff;
  padding: 10px 15px; /* Add padding to create space from the container ceiling */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto; /* Adjust height dynamically based on content */
  border-bottom: 1px solid #ddd;
}

.signup-btn {
  padding: 10px;
  border-radius: 5px;
}
.logo-icon {
  width:60px;
  height: 70px;
}

.auth-buttons button {
  border: none;
  background: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: 500; /* Make the buttons bold */
}

.app-header {
  text-align: left;
  font-size: 15px;  /* Set font size to 15px */
  color: #B8B8B8;     /* Set font color to black */
  margin: 10px 0;
  padding: 0 20px;  /* Added horizontal padding */
}

.app-subtitle {
  text-align: left;
  font-size: 21px;  /* Set font size to 15px */
  color: #000;     /* Set font color to black */
  margin: 10px 0;
  padding: 0 20px;  /* Added horizontal padding */
  font-weight: bold;
}

.app-description {
  text-align: left;
  font-size: 13px;  /* Set font size to 15px */
  color: #6A6A6A;     /* Set font color to black */
  margin-bottom: 30px;
  padding: 0 20px;  /* Added horizontal padding */
  padding-top: 20px;
}

.features {
  display: grid;
  gap: 20px;  /* Gap between each feature box */
  margin-top: 30px;
  padding: 0 20px;  /* Horizontal padding to create space between boxes and container sides */
}

.feature {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  align-items: flex-start;     /* Center align the text and image */
  gap: 10px;               /* Space between the image and the text */
  padding: 5px 10px;
  border-radius: 10px;
}

.feature-icon img {
  width: 50px;
  height: 50px; 
}

.feature p {
  text-align: center;  /* Center the text */
  padding-right: 45px;  /* Keeps space on the right */
  text-align: left;
}